
@{
    ViewBag.Title = "Ejercicio9";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ejercicio9</h2>
<br>
<button class="btn btn-primary" onclick="despliega()">Despliega</button>
<br>
<h1 id="labeltxt"></h1>
@section Scripts{
<script type="text/javascript">
    function despliega() {
        document.getElementById('labeltxt').innerHTML = "Bienvenido al sistema";
    }
</script>    
}
