
@{
    ViewBag.Title = "Ejercicio8";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Horario de clases</h2>
<br>
<h3>Bienvenido a tu horario<h3>

     <table class="table table-hover">
  <tr>
    <th>Materia</th>
    <th>Hora</th>
    <th>Dia</th>
  </tr>
  <tr>
    <td>Matematicas</td>
    <td>12:00</td>
    <td>Martes y jueves</td>
  </tr>
  <tr>
    <td>Español</td>
    <td>2:00</td>
    <td>Lunes y viernes</td>
  </tr>
</table> 

